<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="First Name" placeholder="First Name" name="firstName">
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="Last Name" placeholder="Last Name" name="lastName">
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="XXXX XXXX XXXX XXXX" placeholder="XXXX XXXX XXXX XXXX" name="card">
    <label for="floatingInput">Credit Card</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="805" placeholder="XXX" name="cvv">
    <label for="floatingInput">CVV</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="Expiry Date" placeholder="02/23" name="expiry">
    <label for="floatingInput">Expiry Date</label>
  </div>
</div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
